[submodule "probabilistic-classifier"]
	path = probabilistic-classifier
	url = git://gitlab.com/mitkin/probabilistic-classifier.git
[submodule "sumfeatclassat"]
	path = sumfeatclassat
	url = git://gitlab.com/mitkin/sumfeatclassat.git
